<% if flash.has?(:error) %>
    <%= flash[:error] %>
<% end %>

<br/><br/>

<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <p>Name: <input type="text" required name="name" placeholder="letters only"></p>
  <p>Username: <input type="text" required name="username" placeholder="letters and numbers">
  <p>Email: <input type="text" required name="email" placeholder="john@example.com"></p>
  <p>Password: <input type="password" required name="password"></p>
  <input type="submit" value="Sign Up">
  </br></br>
  <a href="/">Back to Home</a>
</form>