<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <p>Name: <input type="text" name="name" placeholder="first and last name"></p>
  <p>Username: <input type="text" name="username" placeholder="letters and numbers">
  <p>Email: <input type="text" name="email" placeholder="john@example.com"></p>
  <p>Password: <input type="text" name="password" placeholder="> 8 characters"></p>
  <input type="submit" value="Sign Up">
  </br></br>
  <a href="/">Back to Home</a>
</form>