<% if flash.has?(:successful) %>
    <%= flash[:successful] %>
<% end %>
</br>

<h2>Welcome, <%=@user.username%></h2>
<h3><%=@user.name%></h3>
</br></br>
<p><a href="/users/<%=@user.id%>/properties">View my property listings</a></p>

<p><a href="/properties/new">Create new property listing</a></p>

<p><a href="/properties">Go to market place</a></p>

</br></br>
<a href="/logout">Logout</a>
