<h2><%=@user.name%></h2>
<h3><%=@user.username%></h3>
</br></br>
<p><a href="/users/<%=@user.id%>/properties">View my property listings</a></p>

<p><a href="/properties/new">Create new property listing</a></p>

<p><a href="/properties">Go to market place</a></p>

</br></br>
<a href="/logout">Logout</a>
