<h2>Login</h2>

<form action="/login" method="POST">
  <p>Username: <input type="text" name="username" placeholder="Username"></p>
  <p>Password: <input type="text" name="password" placeholder="Password"></p>
  <input type="submit" value="Login">
  </br></br>
  <a href="/">Back to Home</a>
</form>