<h2><%=@user.name%></h2>
<h3><%=@user.username%></h3>
</br></br>
<p><a href="/properties">View my property listings</a></p>

<p><a href="/properties/new">Post a property listing</a></p>

<p>Go to market place</p>

</br></br>
<a href="/logout">Logout</a>
