<div class="content">

<ul>
<%@property.each do |property|%>
    
    <li>Name: <a href="/properties/<%=property.id%>"><strong><%=property.name%></strong></a></li>
    <li>Location: <%=property.location%></li>
    <li>Price: $<%=property.price%></li>
    </br></br>
<%end%>
</ul>
</div>