<ul>
<%@property_type.each do |property_type|%>
   <li><a href="/propertytypes/<%=property_type.id%>"><%=property_type.name%></a></li>
<%end%>
</ul>

</br>
<a href="/properties">Back to Properties</a>